body{
  background-color:#b3b3b3;
  color: aliceblue;
  text-align:left;
  font-weight:normal;
  width:70%;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  margin:9px;
}
a:hover{
  color:#dc143c;
}
 <a class="nappula asemointi">Liikkuva nappi</a>
.asemointi{
  position: fixed;
  top:100px;
  left:0px;
}